*{
    margin: 0;
    padding: 0;
   
}
body{
    background: rgb(211,227,47);
    background: linear-gradient(201deg, rgba(211,227,47,0.9136904761904762) 53%, rgba(189,255,0,0.695203081232493) 100%);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #150707;
    color: aliceblue;
    height: 40px;
}
.mainContainer{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 20px;
}
button{
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    transition: ease-out;
    background-color: bisque;
}
form{
   
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.text{
   
    font-size: 30px;
}
.numField{
    width: 150px;
    height: 25px;
    
}
.container{
    display:none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position:absolute;
    left: 34px;
    top: 64px;
    
    }
    .resultMatrix{
        width: 350px;
        height: 350px ;
        background-color: rgb(234, 133, 74);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4 1fr);
        margin-top: 25px;
        
        text-align: center;
       
    }
    .box{
        border: 2px solid black;
        font-size: 35px;
        background-color: rgb(234, 133, 74);
    }
    #ramapic{
        width: 400px;
        position: absolute;
        border-radius: 50%;
        right: 0px;
        top: 67px;
    }
    .ubuntu-light {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .ubuntu-light-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .ubuntu-regular {
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .ubuntu-regular-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .ubuntu-medium {
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .ubuntu-medium-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .ubuntu-bold {
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .ubuntu-bold-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      