body{
    background-image: url("Screenshot\ \(10\).png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
/* body{
    background-image: url(images\ \(2\).png);
    height: 10px;
    width: 10px;
} */

/* #magicSquare p{
    color:darkgoldenrod;
} */

nav{
    height: 34px;
    width: 100%;
    background-color: black;
    margin-top: 0%;
    padding:0%;
}
.name{
    color: aliceblue;
    margin-left: 41%;
    margin-top: -20px;
}

#numField1{
    border-radius: 8px;
}
#numField2{
    border-radius: 8px;
}
#numField3{
    border-radius: 8px;
}
#numField4{
    border-radius: 8px;
}

.result{
    margin-left: 6%;
    margin-top: 103px;
    /* word-spacing: 10px; */
    /* position: relative; */
}
#resultField1{
    margin-top: -164px;
    margin-left: 10px;
}
#resultField2{
    margin-top: -46px;
    margin-left: 59px;
}
#resultField3{
    margin-top: -47px;
    margin-left: 108px;
}
#resultField4{
    margin-top: -46px;
    margin-left: 158px;
    /* margin-left: 158px; */
}
#resultField5{
    margin-top: -5px;
    margin-left: 11px;
}
#resultField6{
    margin-top: -48px;
    margin-left: 58px;
}
#resultField7{
    margin-top: -48px;
    margin-left: 108px;
}
#resultField8{
    margin-top: -48px;
    margin-left: 157px;
}
#resultField9{
    margin-top: 0px;
    margin-left: 11px;
}
#resultField10{
    margin-top: -48px;
    margin-left: 58px;
}
#resultField11{
    margin-top: -48px;
    margin-left: 108px;
}
#resultField12{
    margin-top: -48px;
    margin-left: 157px;
}
#resultField13{
    margin-top: -4px;
    margin-left: 11px;
}
#resultField14{
    margin-top: -48px;
    margin-left: 58px;
}
#resultField15{
    margin-top: -48px;
    margin-left: 108px;
}
#resultField16{
    margin-top: -48px;
    margin-left: 157px;
}
#resultField17{
    margin-top: -178px;
    margin-left: 317px;
}
#resultField18{
    margin-top: 27px;
    margin-left: 433px;
    font-size: 44px;
}

.result img{
    height: 169px;
    width: 191px;
}

.month{
    margin-left: 76vh;
    margin-top: -79px;
    font-size: 18px;
    font-weight: 900;
}
.year1{
    margin-top: 74px;
    font-size: 18px;
    font-weight: 900;
}
.year2{
    margin-left: 76vmin;
    margin-top: -79px;
    font-size: 18px;
    font-weight: 900;
}
.date{
    font-size: 18px;
    font-weight: 900;
}
.calculate{
    margin-top: 54px;
    margin-left: 48vmin;
}
.image{
    margin-left: 63%;
    margin-top: -13em;
}

.dob{
    /* font-weight: bold; */
    font-size: 18px;
    /* color: indigo; */
}
